@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    padding: 50px;
    padding-bottom: 0;
    background-color: #EFF5E3;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body h1 {
    font-size: 57px;
    font-weight: 300;
    color: black;
}

body h2 {
    font-size: 35px;
    color: black;
}

body h3 {
    font-size: 20px;
    color: black;
}

body p {
    font-size: 15px;
    color: #4b4b4b;
}

body label {
    font-size: 10px;
    font-weight: bold;
    color: #395832;
    text-transform: uppercase;
}